body {
    margin: 0;
}

.wf-notosansjapanese {
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

pre {
    white-space: pre-wrap;
}

.text-body {
    width: calc(100% - 3rem);
    max-width: calc(37rem + 4.81rem);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.13rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0 auto;
    padding: 1.5rem;
}

.t-nav {
    text-align: end;
}

li {
    list-style: none;
    margin: 0.5rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul.second {
    list-style: none;
    padding: 0 0 0 2rem;
}

code {
    display: inline-block;
    padding: 0 0 0.5rem 2rem;
}


section {
    margin: 0.5rem 0;
    padding: 0;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.warning {
    background-color: #ffdce0 !important;

}

.warning p {
    padding: 0.3rem;
}