/*
.text-body {
    width: calc(100% - 3rem);
    max-width: calc(37rem + 3rem);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.13rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 2rem;
}

section {
    margin: 0.5rem 0;
    padding: 0;
}

code {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 0 0.5rem 1.5rem;
}
*/

@import url("fitting/base_fitting.css");

body {
    margin: 0;
}

.wf-notosansjapanese {
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

pre {
    white-space: pre-wrap;
}

.text-body {
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0 auto;
}


section {
    margin-top: calc(0.5rem * 0.010000) 0;
    margin-bottom: calc(0.5rem * 0.010000) 0;
}

code {
    display: inline-block;
    padding: 0;
}



table {
    border-width: 0;
    border-spacing: 0.2em;
    border-collapse: collapse;
}

td {
    padding: 0;
}



.t-nav {
    text-align: end;
}

li {
    list-style: none;
    margin: 0.5rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul.second {
    list-style: none;
    padding: 0 0 0 2rem;
}


h1,
h2 {
    font-weight: bold;
}

dt {
    font-weight: bolder;
}


.warning {
    background-color: #ffdce0 !important;

}

.warning p {
    padding: 0.3rem;
}